<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Position</title>
    <meta charset="UTF-8">
    <meta name="description" content="estrutura base do html">
    <meta name="author" content="William Vianna">
    <meta name="keywords" content="html, css, javascript">

    <style>
        #div1 {
            background-color: rgba(255, 0, 0, .5);
            padding: 10px;
            width: 50%;
            position: sticky;
            height: 200px;
            top: 0;
            bottom: 0;     
        }

        #div2 {
            background-color: rgba(0, 255, 0, .5);
            padding: 10px;
            width: 80%;
            height: 50px;
            position: static;
        }

        #div3 {
            background-color: rgba(0, 0, 255, .5);
            padding: 10px;
            width: 30px;
            height: 30px;
            position: static;
            top: 20px;
            right: 0;
        }
    </style>
</head>

<body>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis excepturi tenetur dolores, nesciunt, dolore illo ratione neque repellat sunt, similique eveniet asperiores! Magni vero tempora voluptates qui voluptatum quibusdam ut?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis excepturi tenetur dolores, nesciunt, dolore illo ratione neque repellat sunt, similique eveniet asperiores! Magni vero tempora voluptates qui voluptatum quibusdam ut?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis excepturi tenetur dolores, nesciunt, dolore illo ratione neque repellat sunt, similique eveniet asperiores! Magni vero tempora voluptates qui voluptatum quibusdam ut?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis excepturi tenetur dolores, nesciunt, dolore illo ratione neque repellat sunt, similique eveniet asperiores! Magni vero tempora voluptates qui voluptatum quibusdam ut?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis excepturi tenetur dolores, nesciunt, dolore illo ratione neque repellat sunt, similique eveniet asperiores! Magni vero tempora voluptates qui voluptatum quibusdam ut?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis excepturi tenetur dolores, nesciunt, dolore illo ratione neque repellat sunt, similique eveniet asperiores! Magni vero tempora voluptates qui voluptatum quibusdam ut?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis excepturi tenetur dolores, nesciunt, dolore illo ratione neque repellat sunt, similique eveniet asperiores! Magni vero tempora voluptates qui voluptatum quibusdam ut?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis excepturi tenetur dolores, nesciunt, dolore illo ratione neque repellat sunt, similique eveniet asperiores! Magni vero tempora voluptates qui voluptatum quibusdam ut?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis excepturi tenetur dolores, nesciunt, dolore illo ratione neque repellat sunt, similique eveniet asperiores! Magni vero tempora voluptates qui voluptatum quibusdam ut?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis excepturi tenetur dolores, nesciunt, dolore illo ratione neque repellat sunt, similique eveniet asperiores! Magni vero tempora voluptates qui voluptatum quibusdam ut?</p>

    <div id="div1">
        1
        <div id="div2">
            2
            <div id="div3">3</div>
        </div>
    </div>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, asperiores. Harum incidunt ipsum fugit expedita sequi provident repudiandae minima pariatur repellat illum aperiam quam, temporibus labore quae similique accusamus ad?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, asperiores. Harum incidunt ipsum fugit expedita sequi provident repudiandae minima pariatur repellat illum aperiam quam, temporibus labore quae similique accusamus ad?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, asperiores. Harum incidunt ipsum fugit expedita sequi provident repudiandae minima pariatur repellat illum aperiam quam, temporibus labore quae similique accusamus ad?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, asperiores. Harum incidunt ipsum fugit expedita sequi provident repudiandae minima pariatur repellat illum aperiam quam, temporibus labore quae similique accusamus ad?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, asperiores. Harum incidunt ipsum fugit expedita sequi provident repudiandae minima pariatur repellat illum aperiam quam, temporibus labore quae similique accusamus ad?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, asperiores. Harum incidunt ipsum fugit expedita sequi provident repudiandae minima pariatur repellat illum aperiam quam, temporibus labore quae similique accusamus ad?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, asperiores. Harum incidunt ipsum fugit expedita sequi provident repudiandae minima pariatur repellat illum aperiam quam, temporibus labore quae similique accusamus ad?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, asperiores. Harum incidunt ipsum fugit expedita sequi provident repudiandae minima pariatur repellat illum aperiam quam, temporibus labore quae similique accusamus ad?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, asperiores. Harum incidunt ipsum fugit expedita sequi provident repudiandae minima pariatur repellat illum aperiam quam, temporibus labore quae similique accusamus ad?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, asperiores. Harum incidunt ipsum fugit expedita sequi provident repudiandae minima pariatur repellat illum aperiam quam, temporibus labore quae similique accusamus ad?</p>

</body>

</html>